body{
    padding-top: 64px;
}
.custom-background {
    background: radial-gradient(circle, #7ebccd, #688fde);
    /* dark mode 背景 */
}

.light-mode.custom-background {
    background: radial-gradient(circle, #baecf9, #f0f9ff);
    /* light mode 背景 */
}

.nav-link-custom {
    color: white;

    text-decoration: none;
    font-size: 1.25rem;
    padding: 0.5rem;
    transition: color 0.3s ease;
}
.nav-link-custom:hover {
    color: #f0d477;
}

.nav-link-custom.active {
    color: #1c8481;
    /* secondary.main 類似顏色 */
}
.table td {
    font-size: 1rem;
}